<!--Users_page-->

<div class="container">
    <div class="row">
      <p id="notice"><%= flash[:notice] %></p>
      <!--error表示-->
      <%= render 'root/errors_book' %>

      <!--user_info & 投稿-->
      <%= render 'root/sidebar', user: current_user %>

      <%# 投稿された%>
      <div class="col-xs-9">
            <h2>Users</h2>
          <table class="table clearfix">
                <thead>
                <tr>
                  <th>image</th>
                  <th>name</th>
                  <th></th>
                </tr>
                </thead>

                <tbody>
                  <% @users.each do |user| %>
                    <tr>
                      <td>
                        <% if user.profile_image_id != nil %>
                          <%= attachment_image_tag user, :profile_image, style: "height: 50px" %>
                          <% else %>
                          <%= attachment_image_tag user, :profile_image, :fill, 50, 50, format:'jpeg', class: "#", fallback: "sample_img.gif", size:'50x50' %>
                        <% end %>
                      </td>
                      <td><%= user.name %></td>
                      <td><%= link_to 'Show',user_path(user) %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div> 