  <!--Books_page-->
<div class="container">
  <div class="row">
    <%= flash[:notice] %>
    <!--error表示-->
    <%= render 'root/errors' %>

    <!--user_info & 投稿-->
    <%= render 'root/sidebar' %>

    <%# 投稿された%>
      <div class="col-xs-9">
            <h2>Books</h2>
          <table class="table clearfix">
              <thead>
              <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
              </tr>
              </thead>

              <tbody>
                <% @books.each do |book| %>
                  <tr>
                    <td>
                      id
                    </td>
                    <td><%= book.title %></td>
                    <td><%= book.body %></td>
                  </tr>
                <% end %>
              </tbody>
          </table>
      </div>
  </div>
</div>