<div class="body">
  <div class="container">

      <%# エラーメッセージ表示%>
      <div>
        <% if @book.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@book.errors.count, "error") %> prohibited this product from being saved:</h2>
            <ul>
              <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>

        <!--user_info-->
    <div class="col-xs-3 clearfix">
        <div class="user_info">
          <h1>User Info</h1>
        </div>


        <%# 投稿機能%>
        <h2 >New book</h2>
        <%= form_for(@book, url: '/books') do |f| %>
        <%# 投稿フォーム%>
          <div class="field">
            <div class="field_with_errors">
            <p>Title</p>  <%= f.text_field :title %>
            </div>
          </div>

          <div class="field">
            <div class="field_with_errors">
            <p>Opinion</p>  <%= f.text_area :body %>
            </div>
          </div>

          <div class="actions">
          <%= f.submit "Create Book" %>
          </div>
        <% end %>
    </div>



      <%# 投稿された%>
      <div class="col-xs-9 clearfix">
        <% if @book.save %>
          <p>保存</p>
        <% else %>
          <h2>Books</h2>
          <thead>
            <tr>
              <th>Title</th>
              <th>Opinion</th>
            </tr>
          </thead>

          <table class="table">
            <tbody>
              <% @books.each do |book| %>
              <tr>
                <td><%= book.title %></td>
                <td><%= book.body %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
  </div>
</div>