<div class="container">
  <div class="row">
    <p id="notice"><%= flash[:notice] %></p>
    <!--error表示-->
    <%= render 'root/errors_message', hoge: @book %>

    <!--user_info & 投稿-->
      <%= render 'root/sidebar', user: @book.user %>

    <!-- 投稿された-->
    <div class="col-xs-9">
            <h2>Book detail</h2>
            <table class="table">
              <tbody>
                  <tr>
                    <td>
                      <% if @book.user.profile_image != nil %>
                          <%= attachment_image_tag @book.user, :profile_image, style: "height: 50px" %>
                      <% else %>
                          <%= image_tag 'sample_img.gif', style: "height: 40px" %>
                      <% end %>
                      <br>
                      <%= link_to @book.user.name, user_path(@book.user), class: "link" %>
                    </td>
                    <td><%= @book.title %></td>
                    <td><%= @book.body %></td>

                    <!--いいね機能-->
                    <% if current_user.id == @book.user_id %>
                      <td></td>
                      <td></td>
                    <% else %>
                      <td><%= render 'like', book: @book %></td>
                    <!--コメント機能-->
                    <td>コメント</td>
                    <% end %>

                    <!--編集-->
                    <% if current_user.id == @book.user_id %>
                      <td>
                        <%= link_to 'Edit', edit_book_path(@book.id),
                        class:"btn-sm btn-success link" %>
                      </td>
                      <td>
                        <%= link_to 'Destroy', book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？",
                        class: "btn-sm btn-danger destroy_book_39626" %>
                      </td>
                    <% else %>
                      <td></td>
                      <td></td>
                    <% end %>
                  </tr>
              </tbody>
            </table>
      </div>
  </div>
</div>