  <!--詳細_page--->
<div class="container">
  <div class="row">
    <%= flash[:notice] %>

    <!--error表示-->
    <%= render 'root/errors_book' %>

    <!--user_info & 投稿-->
    <%= render 'root/sidebar' %>

    <!-- 投稿された-->
    <div class="col-xs-9">
            <h2>Book detail</h2>
            <table class="table">
              <tbody>
                  <tr>
                    <td>
                      <%= attachment_image_tag @book.user, :profile_image, style: "height: 50px" %>
                    </td>
                    <td><%= @book.title %></td>
                    <td><%= @book.body %></td>

                    <% if current_user.id == @book.user_id %>
                      <td>
                        <%= link_to 'Edit', edit_book_path(@book.id), 
                        class:"btn-sm btn-success" %>
                      </td>
                      <td>
                        <%= link_to 'Destroy', book_path(@book), method: :delete, "data-confirm" => "本当に消しますか?", 
                        class: "btn-sm btn-danger" %>
                      </td>
                    <% else %>
                      <td></td>
                      <td></td>
                    <% end %>
                  </tr>
              </tbody>
            </table>
      </div>
  </div>
</div>