  <!--詳細_page--->
<div class="container">
  <div class="row">
      <%= flash[:notice] %>
      <!--error表示-->
      <%= render 'root/errors' %>

    <!--user_info-->
    <div class="col-xs-3">
        <div class="user_info">
          <h2>User Info</h2>
          <table class="table">
            <tbody>
              <tr>
                <td>name</td>
                <td><%= current_user.name %></td>
              </tr>
              <tr>
                <td>Introduction</td>
                <td><%= current_user.introduction %></td>
              </tr>
            </tbody>
          </table>
          <%= attachment_image_tag @user, :image, :fill, 300, 300, format: 'jpeg' %>
          <%= link_to '設定', edit_user_path(current_user.id) %>
        </div>

        <%# 投稿機能%>
        <h1>New book</h1>
          <%= form_for(@book, url: '/books') do |f| %>
            <p>Title</p> 
            <%= f.text_field :title , class: "edit-title col-xs-12" %>
              <br>
            <p>Opinion</p> 
            <%= f.text_area :body, class: "edit-body col-xs-12" %>
            <div>
              <%= f.submit "Create Book", class: "btn btn-primary col-xs-12" %>
            </div>
          <% end %>
    </div>



    <%# 投稿された%>
    <div class="col-xs-9">
            <h2>Book detail</h2>
            <table class="table">
              <tbody>
                  <tr>
                    <td>
                      <%= image_tag "" %>
                      名前
                    </td>
                    <td><%= @book.title %></td>
                    <td><%= @book.body %></td>
                    <td>
                      <%= link_to 'Edit', edit_book_path(@book.id), 
                      class:"btn-sm btn-success" %>
                    </td>
                    <td>
                      <%= link_to 'Destroy', book_path(@book), method: :delete, "data-confirm" => "本当に消しますか?", 
                      class: "btn-sm btn-danger" %>
                    </td>
                  </tr>
              </tbody>
            </table>
      </div>
  </div>
</div>