  <!--詳細_page--->
<div class="container">
  <div class="row">
    <%= flash[:notice] %>

    <!--error表示-->
    <%= render 'root/errors' %>

    <!--user_info & 投稿-->
    <%= render 'root/sidebar' %>

    <!-- 投稿された-->
    <div class="col-xs-9">
            <h2>Book detail</h2>
            <table class="table">
              <tbody>
                  <tr>
                    <td>
                      <%= image_tag "" %>
                      名前
                    </td>
                    <td><%= @book.title %></td>
                    <td><%= @book.body %></td>
                    <td>
                      <%= link_to 'Edit', edit_book_path(@book.id), 
                      class:"btn-sm btn-success" %>
                    </td>
                    <td>
                      <%= link_to 'Destroy', book_path(@book), method: :delete, "data-confirm" => "本当に消しますか?", 
                      class: "btn-sm btn-danger" %>
                    </td>
                  </tr>
              </tbody>
            </table>
      </div>
  </div>
</div>