  <div class="col-xs-3">
    <!--user Info-->
    <div class="user_info">
      <h2>User info</h2>

      <!--Profile画像-->
        <% if user.profile_image_id != nil %>
          <%= attachment_image_tag user, :profile_image, style: "height: 100px" %>
          <% else %>
          <%= image_tag 'sample_img.gif', style: "height: 100px" %>
        <% end %>


      <!--Profile-->
      <table class="table">
        <tbody>
          <tr>
            <td><strong>name</strong></td>
            <td><strong><%= user.name %></strong></td>
          </tr>
          <tr>
            <td><strong>Introduction</strong></td>
            <td><strong><%= user.introduction %></strong></td>
          </tr>
        </tbody>
      </table>
      <div>

        <%= link_to '', edit_user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %> 
      </div>
    </div>

    <%# 投稿機能%>
    <h2>New book</h2>
      <%= form_for(@book) do |f| %>
        <strong>Title</strong> 
        <%= f.text_field :title , class: "edit-title col-xs-12" %>
          <br>
        <strong>Opinion</strong> 
        <%= f.text_area :body, class: "edit-body col-xs-12" %>
        <div>
          <%= f.submit "Create Book", class: "btn btn-primary col-xs-12" %>
        </div>
      <% end %>
  </div>